* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 32px;
    color: white;
    background-color: #DD4124;
}

h1 {
    font-weight: normal;
}

@import './postcss.css'